.about {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  width: 35.6rem;
  /* accounts for box line up */
  background-color: rgb(247, 234, 229);
  /* border: 1px solid green; */
  
}

.about-box {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 50%;
  height: 17.8rem;
  background-color: rgb(244, 231, 218);
  /* border: 1px solid red; */
}

.a-text {
  padding: 0.75rem;
}

.a-head-wrap {
  display: flex;
  justify-content: center;
  align-items: center; 
  /* squares layout fine-tuning */
  height: 17.66rem; 
  background-color: rgb(169, 164, 153);
}

.about-fig {
  display: flex; 
  align-items: center;
}

.about-fig img {   
  width: 100%;  
}

@media screen and (max-width: 768px) {
  .about{
    width: 18rem;
  }
  .about-box {
    width: 100%;
  }
} 