.contact {
  display: flex;
  background-image: url("../assets/tree2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fcfcfc;
  width: 100%;
  margin-bottom: 1rem;
}
.c-header-wrap{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  width: 50%;
  height: 27.7rem;
  padding: 1rem;
  /* border: 1px solid red; */
}
.r-align{
  text-align: right;
}

.c-text-wrap {
  display: flex;
  width: 50%;
  height: 27.7rem;
  justify-content: flex-start;
}
.c-content {
  box-sizing: border-box;
  width: 85%;
  height: 80%;
  padding: 9rem 1rem 1rem 1rem;
  background-color: rgba(34, 8, 3, 0.7);
}

@media screen and (max-width: 768px) {
  .contact{
    flex-wrap: wrap;
  }
  .c-header-wrap {
    width: 100%;  
  }
  .c-text-wrap {
    width: 100%;
  }
  .c-content {
    padding: 1rem;
  }
} 