.contact {
  display: flex;
  background-image: url("../assets/tree2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fcfcfc;
  width: 100%;
}
.c-header-wrap{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 94vh;
  padding: 1rem;
  /* border: 1px solid red; */
}
.r-align{
  text-align: right;
}

.c-text-wrap {
  position: relative;
  width: 50%;
  height: 94vh;
  /* border: 1px solid green; */
}
.c-content {
  position: absolute;
  top: 0rem;
  right: 18rem;
  transform: translateX(100%);
  width: 19rem;
  padding: 10rem 8rem 5rem 1rem;
  background-color: rgba(34, 8, 3, 0.7);
}

@media screen and (max-width: 768px) {
  .contact{
    flex-wrap: wrap;
  }
  .c-header-wrap {
    width: 100%;  
  }
  .c-text-wrap {
    width: 100%;
  }
} 