/* HERO HEADER */

.hero {
  position: relative;
  background-image: url("../assets/tree1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(250, 248, 240);
  width: 100%;
}
.hero-left {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 620px;
  height: 26.9rem; 
}

.terminal {
  box-sizing: border-box;
  padding: 1.5rem 0rem 1.5rem 1.5rem;
  background-color: rgba(34, 8, 3, 0.7);
  width: 90%;
  height: 95%; 
}

.dev {
  margin-left: 3.3rem;
  white-space: nowrap;
  text-align: right;
}

.overflow {
  overflow: visible;
}

@media screen and (max-width: 1000px) {
  .dev {
    white-space: normal;
    word-break: break-all;
    padding-right: 1rem;
  }
  .h-text1 {
    margin-bottom: 0rem;
  }
  .red-head, .web-dev {
    white-space: nowrap;
  }
}

@media screen and (max-width: 660px) {
  .hero-left {
    width: 100%;
    height: auto;
    padding-top: 1.4rem;
  } 
  .red-head, .web-dev {
    white-space: normal;
  } 
}  

@media screen and (max-width: 500px) {
  .dev {
    width: 12rem;
    margin: 2rem 0rem 4rem 5rem;
  }
  .overflow {
    padding-left: 1rem;
  }
}  