/* HERO HEADER */

.hero {
  /* position: relative; */
  background-image: url("../assets/tree1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* box-shadow: inset 0 0 0 1000px rgba(46, 60, 72, 0.6);   */
  /* background-color: #2E3C48; */
  color: #fcfcfc;
  width: 100%;
  /* border: 5px solid hotpink; */
}
.hero-left {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 620px;
  height: 26.9rem; 
  /* border: 5px solid lawngreen; */
}

.terminal {
  box-sizing: border-box;
  position: relative;
  padding: 1.5rem 0rem 1.5rem 1.5rem;
  background-color: rgba(34, 8, 3, 0.7);
  width: 90%;
  height: 85%; 
  /* border: 5px solid teal; */
}

.dev {
  position: absolute;
  top: 5rem;
  left: 3rem;
}

/* @media screen and (max-width: 1024px) {
  .brand a {
    color: red;
  } 
  .hero-text2 {
    font-size: 3.8rem;
  }
  .hero-text-wrap {
    width: 387px;
  }
}  

@media screen and (max-width: 768px) {
  .brand a {
    color: blue;
  }
  .hero-text-wrap {
    width: 387px;
  }
}   

@media screen and (max-width: 480px) {
  .brand a {
    color: red;
  }
}  */
