/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
}
.brand-wrap {
  display: flex;
  align-items: center;
  width: 12rem;
}

.nav-right-wrap {
  display: flex;  
  justify-content: flex-end;  
}
.nav-right {
  align-items: center;  
}
.nav-right li:not(:last-child) {
  margin-right: 2.5rem;
}
.nav-right li {
  display: inline-block;
  padding: 1.4rem 0;
}

.nav-right li a:visited {
  color: rgb(0, 77, 128);
}
.nav-right li a:hover {
  color: red;
}

/* NAV MEDIA QUERIES */
@media screen and (max-width: 780px) {
  /* ul.nav-right {
    display: none;
  } */
}
