/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
}
.brand-wrap {
  display: flex;
  align-items: center;
}

.nav-right-wrap {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  justify-content: flex-end;  
}
.nav-2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;   
  text-align: right;
}

.nav-2 p {
  display: inline-block;
  padding-left: 4rem;
  letter-spacing: 0.1rem;    
}

.nav-2 p a {
  color: rgb(46, 60, 72); 
  text-decoration: none;
}

.nav-2 p a:visited {
  color: rgb(46, 60, 72); 
}

.nav-2 p a:hover {
  color: rgb(249, 16, 70);
}

@media screen and (max-width: 780px) {
  .nav-2 p {
    padding-left: 1.7rem;
  } 
}
