.skills {
  display: flex;
  background-image: url("../assets/tree2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(250, 248, 240);  
  width: 100%;
}

.s-header-wrap{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 33rem;
}

.s-text-wrap {
  display: flex;
  width: 70%;
  height: 33rem;
  
}
.s-content {
  box-sizing: border-box;
  width: 90%;
  height: 95%;
  padding: 1rem;
  background-color: rgba(34, 8, 3, 0.7);
}

@media screen and (max-width: 1040px) {
  .s-content {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 890px) {
  .skills{
    flex-wrap: wrap;
  }
  .s-header-wrap {
    width: 100%;
    height: 25rem;  
  }
  .s-text-wrap {
    width: 100%;
    height: auto;  
  }
} 