body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 0.02rem; 
}

.brand a {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.2rem;
  color: rgb(0, 77, 128);
  text-decoration: none;  
}

.nav-right li a {
  letter-spacing: 0.15rem;
  color: rgb(0, 77, 128);
  text-decoration: none;
}  

.hero-text1 {
  font-size: 1.3rem;
  line-height: 2rem;
}

.hero-text2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 5.75rem;
  margin: 4rem 2rem;
  overflow: visible;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.overflow {
  color: rgb(178, 231, 226);
}

.hero-text3 {
} 

.s-head {
  font-family: 'Abril Fatface', cursive;
  font-size: 5.75rem;  
}

.s-subh {
  font-size: 1.25rem;;
  font-family: 'Abril Fatface', cursive;
  margin-bottom: 0.4rem;
}

.s-content p {
  margin-bottom: 0.9rem; 
}


